*.aux
*.log
*.nav
*.out
slides/*.pdf
*.pdfsync
*.snm
*.toc
*.vrb
Makefile
*.o
*.so
*.dll
*.a
moc_*
*.moc
.svn/
config.tex
.~locak*
scripts/legal/check.py
slides/images/background.pdf
slides/images/titlepage-background.pdf
slides/diagrams/nokia-logo.pdf
slides/diagrams/qt-logo.pdf
slides/beamerthemeQtNokia.pdf
